/**********Tag Selectors*********/
body {
  background-color: #FAF9F6;
  margin: 0;
  text-align: center;
  /*TRYING TO SET MIN WINDOW WIDTH BELOW*/
  min-width: 792px;
  width: 792px;
}

h1 {
  margin-bottom: 0;
  margin-top: 25px;
  font-family: 'Amatic SC', cursive;
}

/**********Class Selectors*********/
.abouttext {
  padding-right: 5px;
  margin: 6px
}

.container {
  border-style: solid;
  font-family: 'Raleway', sans-serif;
  height: 400px;
  left: 40px;
  margin: 0 auto;
  position: absolute;
  right: 40px;
  text-align: center;
  width: 90%;
}

.container-follow {
  background-color: white;
  border-style: solid;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 20px;
  width: 100px;
  z-index: 10;
}

.container-about {
  border-color: green;
  border-style: solid;
  font-family: 'Raleway', sans-serif;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  right: 40px;
  text-align: right;
  width: 300px;
}

.container-name {
  border-color: red;
  border-style: solid;
  height: 100px;
  left: 40px;
  position: absolute;
  top: 20px;
  text-align: center;
  width: 300px;
}

.container-statement {
  border-color: yellow;
  border-style: solid;
  font-family: 'Raleway', sans-serif;
  height: 300px;
  left: 40px;
  margin: 0 auto;
  min-width: 762px;
  overflow: hidden;
  position: absolute;
  right: 40px;
  text-align: center;
  top: 180px;
  width: 90%;
}

.footer {
  font-family: 'Raleway', sans-serif;
  left: 40px;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  top: 1350px;
}

.header {
  background-color: #FAF9F6;
  height: 140px;
  min-width: 850px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.project1 {
  border-color: blue;
  font-size: 20px;
  min-width: 762px;
  top: 500px;
}

.project1img {
  display: inline-block;
  height: 400px;
}

.project2 {
  border-color: orange;
  font-size: 20px;
  min-width: 762px;
  top: 920px;
}

.statement {
  font-size: 50px
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
}

.textboxleft {
  display: inline-block;
  position: absolute;
  text-align: left;
  width: 15%;
  left: 10px;
}

.textboxright {
  display: inline-block;
  position: absolute;
  text-align: right;
  width: 15%;
  right: 10px;
  bottom: 240px;
}

.topline {
  padding-top: 15px;
}
